body {
  background: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  line-height: 1.7;
  margin: 0;
  padding: 30px;
}

.table {
  border: 0px;
}

.tablespace {
  display: inline;
  float: left;
  border: 1px dashed;
  position: relative;
  z-index: auto;
  margin: 1px 1px;
  text-align: center;
}

.tablespace:first-child {
  opacity: .99;
}

.card {
  position: absolute;
  width: 65px;
  height: 80px;
  left: 2px;
  z-index: auto;
  overflow: visible;
  background-color: #fff;
}

.card-drag-hovered-above {
  border-top: 4px solid rgba(242,160,27,1);
}

.card-hovered:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
}

.card-drag-hovered-below:after {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  height: 50%;
  width: 100%;
  background-color: rgba(242,160,27,0.5);
}

.card ul {
  padding: 0px;
  position: absolute;
  margin: 0px -100px 0px 0px;
  left: 100%;
  top: 0;
  right: 0;
  border: 1px solid;
  background-color: #ccc;
  z-index: 1000;
}

.card li {
  display: block;
  padding: 5px;
  width: 100px;
  font-size: 11px;
}

.decklist {
  width: 200px;
  cursor: pointer;
}

.deck {
  display: block;
  padding: 5px;
  border: 1px solid;
}
